@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h1 class="display-4">UNIVERSIDAD CENTRAL DEL ECUADOR</h1>
    <img src="https://aka-cdn.uce.edu.ec/ares/tmp/logo3.png" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
