@model ProyectoF2.Models.Prestamo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prestamo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPrestamo" />
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <select asp-for="Identificacion" class="form-control" asp-items="ViewBag.Identificacion"></select>
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLibro" class="control-label"></label>
                <select asp-for="IdLibro" class="form-control" asp-items="ViewBag.IdLibro"></select>
                <span asp-validation-for="IdLibro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaConfirmacionDevolucion" class="control-label"></label>
                <input asp-for="FechaConfirmacionDevolucion" class="form-control" />
                <span asp-validation-for="FechaConfirmacionDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
